<html>

<head>
    <link rel="stylesheet" href="/public/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
    <div class="card">
        <form id="form">
            <input type="search" id="query" name="ign" placeholder="ign..." style="width: 50%; height: 5%">
            <button style="width: 14%; height: 5%">Search</button>
        </form>

        <h1 class="nigger">Ign: <%= name %></h1>
        <img src="<%= skin %>" alt="negero" style="width:20%">
        <p class="title"> Tipo: <%= migrada %></p>
    </div>
</body>

</html>